.dynamic-content {
  table {
    width: 100% !important;
    tr {
      td {
        color: rgb(77, 71, 71) !important;
        border: 1px solid #dadada;
        min-width: 2em;
        padding: 0.4em;
        padding-left: 4px !important;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        vertical-align: middle;
        white-space: normal !important;
      }
    }
  }
}
