a.btn-link{
    display: flex;
    width: fit-content;
}
ol.decimal
{
    list-style-type: decimal;
    margin-left: 20px;

    li{
        padding-left:6px;
        line-height: 1.8;
        // 
    }
}

.header
{
    .section-1
    {
        // min-height: 100px;
        background-color: white;
        
        .logo{
            display: flex;
            align-items: center;
            height: 100px;
        }
        a._links{
            text-decoration: none !important;
            color: #0EA1DB;
        }
        .text-link{
            color: #0EA1DB;
        }
        .social-icon a{
            height: 35px;
            width: 35px;
        }
    }
    .section-2{
        background-color: #0EA1DB;
        color: white;
        // .nav-menu{
        //     padding: 12px 0;
        //     margin: 0 auto;
        // }
        .nav-button{
            font-size: 18px;
            transition: all 0.675s;
        }
        .nav-button:hover{
            background-color: white;
        }
    }
}