a.btn-link{
    display: flex;
    width: fit-content;
}
ol.decimal
{
    list-style-type: decimal;
    margin-left: 20px;

    li{
        padding-left:6px;
        line-height: 1.8;
        // 
    }
}
.certificate-section
{
    .ant-image-mask
    {
        border-radius: 0.75rem !important;
    }
} 